.post{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.post h2{
    border: 2px solid brown;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}
.post p{
    background-color: lightblue;
    border: 2px solid brown;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}
.post img{
    width: 400px;
    height: 200px;
    border: 2px solid brown;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}