.heroTitle{
background: linear-gradient(145deg, #F81F01 0%, #ee076e 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 100px;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
padding-right: 18rem;
}
.projects{
    display: flex;
    color: #c6c9d8;
}
.projects h3{
    color: white;
}